body{
    /* background-color: #F9F5F3; */
    padding: 0px;
    margin: 0px;
}
.outer{
    width: 1500px;
    background-color:#FBFBFB;
    margin: 0px auto;
}
.header{
    width: 1500px;
     height: 100px;
    background-color:#FBFBFB;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
}
.logo{
    height: 100px;
    width: 130px;
    float: left;
   padding-left: 47px;
   box-sizing: border-box;
}
.header1{
    width: 200px;
    height: 100px;
    background-color:#FBFBFB;
    float: left;
    color: #999C68;
    text-align: left;
    padding: 42px 0 0 0px;
    box-sizing: border-box;
    font-size: 15px;
}

.header2{
    width: 300px;
    height: 100px;
    background-color:#FBFBFB;
    float: left;
    color: black;
    text-align: left;
    padding: 40px 0px;
    box-sizing: border-box;
    font-size: 15px;
}
.header2:hover{
    color: #999C68;
}
.user{
    width:25px; 
    height: 25px; 
    background-color:#999C68; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    float: left;
    margin-top: 0px;
}

.header3{
    width: 800px;
    height: 100px;
    background-color:#FBFBFB;
    float: left;
    padding:25px 270px;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    
}
.menu{
    display: flex;
    position: relative;
    list-style-type: none;
    justify-content: space-around;
    float: left;
}
.menu li{
    padding: 0 30px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu:hover{
    opacity: 0.8;
    color: #999C68;

}
.main{
    height: 800px;
    width: 1500px;
    background-image:url(image/b3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
   
}
.main_upr{
    width: 1500px;
    height: 500px;
    background-color: transparent;
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 200px 0 0 0px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    color: white;
    float: left;
}

.buttonn{
    /* background-color:#999C68; */
    background-color: #b1954f;
    color: white;
    height: 50px;
    width: 250px;
   margin-left: 100px;
    font-size: 20px;
    border:1px solid white;
    
}
.buttonn:hover{
    background-color: white;
    color: #b1954f;

    border:1px solid#b1954f;
}
.main2{
    height: 700px;
    width: 1500px;
    background-color: #FBFBFB;
    
}
.main2_1{
    height: 550px;
    width: 450px;
    background-color:#575555;
    margin: 80px 0 0 80px;
    float: left;
    align-items: center;
    justify-content: center;
}
.main2_2{
    height: 550px;
    width: 800px;
    background-color: #575555;
    margin: 80px 0 0 80px;
    float: left;
}
.about{
    height: 550px;
    width: 1500px;
    background-color:#FBFBFB;
    
}
.about_img{
    height: 100px;
    width: 1500px;
}
.about_p{
    height: 300px;
    width: 1500px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: center;
    font-size: 30px;
    padding: 10px 300px 0 300px;
    box-sizing: border-box;

}
.about_btn{
    height: 150px;
    width: 1500px;
   
    align-items: center;
    justify-content: center;
    
}
.button3{
    background-color: #b1954f;
    color: white;
    height: 50px;
    width: 250px;
    margin:10px 625px 0 625px;
    font-size: 20px;
    border:1px solid white;
    padding: 12px 70px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
a{
    text-decoration: none;
}
.button3:hover{
    background-color: white;
    color: #b1954f;

    border:1px solid #b1954f;
}
.main3{
    height: 660px;
    width: 1500px;
    background-color:#FBFBFB;
}
.main3_bg{
    height: 600px;
    width: 1400px;
    margin: 30px 50px;
    background-image:url(image/b4.jpg);
    /* opacity: 0.8; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.main_inner{
    height: 500px;
    width: 400px;
    background-color:#b1954f;
    margin: 50px 0 0 900px;
    float: left;
}
.button4{
    background-color: #b1954f;
    color: white;
    height: 50px;
    width: 250px;
   margin-left: 80px;
   float: left;
    font-size: 20px;
    border:1px solid white;
    
}
.button4:hover{
    background-color: white;
    color: #b1954f;

    border:1px solid #b1954f;
}
.footer{
    height: 360px;
    width: 1500px;
    background-color:#FBFBFB ;
}
.footer_inner{
    
        height: 300px;
        width: 1400px;
        margin: 30px 50px;
        background-color: #b1954f;
}
.footer_info{
    height:100px;
    width: 200px;
    background-color:#b1954f;
    border-right: 1px solid white;
    float: left;
    margin:50px 0 0 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 15px;
}
.footer_info1{
    height:100px;
    width: 200px;
    background-color:#b1954f;
   
    float: left;
    margin:50px 0 0 5px;
}
.footer_info2{
    height:200px;
    width: 400px;
    background-color:#b1954f;
   
    float: left;
    margin:50px 0 0 50px;
}
.button5{
    background-color: #b1954f;
    color: white;
    height: 50px;
    width: 250px;
   
   float: left;
    font-size: 20px;
    border:1px solid white;
    
}
.button5:hover{
    background-color: white;
    color: #b1954f;

    border:1px solid #b1954f;
}
.button6{
    background-color: #b1954f;
    color: white;
    height: 50px;
    width: 250px;
 
    font-size: 20px;
    border:1px solid white;
    
}
.button6:hover{
    background-color: white;
    color: #b1954f;

    border:1px solid#b1954f;
}
.gallery{
    width: 1500px;
    height: 250px;
    background-color: #FBFBFB;
    color: #b1954f;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:  160px;
    text-align: center;
    box-sizing: border-box;
}
.slider{
    width: 1500px;
    height: 800px;
    margin: auto;
    
}
.em{
    height: 100px;
    width: 1500px;
    background-color: #FBFBFB;
}
.em2{
    height: 50px;
    width: 1500px;
    background-color: #FBFBFB;
    text-align: center;
    color: #b1954f;
}
.photos{
    height: 1000px;
    width: 1500px;
    background-color:#FBFBFB;
}
  .gimg{
    overflow: hidden;
    width: 450px;
    height:400px;
    background-color:rgb(246, 242, 242);
    margin: 70px 0 0 37px;
    float: left;
  }
  .gimg img{
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
  }
  .gimg  img:hover{
    transform: scale(1.1);
    opacity: 0.8;
 }
  /* .gimg:hover{
    opacity: 0.8;
    transform: scale(1.1,1.1);
    transition: 1s;
  } */
.aboutus{
    height: 500px;
    width: 1500px;
    background-color: #FBFBFB;
}
.aboutus1{
    height: 500px;
    width: 500px;
    background-color: #FBFBFB;
    float: left;
}
.aboutus2{
    height: 500px;
    width: 1000px;
    background-color:#FBFBFB;
    float: left;
    /* text-align: center;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 300px;
    box-sizing: border-box; */
}
p{
    text-align: center;
    color: black;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 300px;
    box-sizing: border-box;
}

c{
    text-align: center;
    color:#b1954f;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 400px 0 0 335px;
    box-sizing: border-box; 
}
.aboutus11{
    height: 500px;
    width: 500px;
    background-color: #FBFBFB;
    float: right;
}
.aboutus22{
    height: 500px;
    width: 1000px;
    background-color:#FBFBFB;
    float: left;
}
.contactus{
    height: 600px;
    width: 1500px;
    background-color: #FBFBFB;
}
.contactus1{
    height: 600px;
    width: 500px;
    background-color: #FBFBFB;
    float: left;
}
.contactus2{
    height: 600px;
    width: 1000px;
    background-color:#FBFBFB;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* margin: 0; */
    font-family: Arial, Helvetica, sans-serif;
} 
.contactus11{
    height: 500px;
    width: 500px;
    background-color: #FBFBFB;
    float: right;
}
.contactus22{
    height: 500px;
    width: 1000px;
    background-color:#FBFBFB;
    float: left;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}  
d{
    font-size: 35px;
}
/* form */

.container {
    background-color: #FBFBFB;
    padding: 5px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 600px;
    text-align: center;
}

h2{
    /* font-size: 30px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 15px;
    flex-basis: 48%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
    font-size: 14px;
}

textarea {
    height: 80px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b1954f;
    color: #fff;
    border: 1px solid #b1954f;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color:white;
    color: black;
}
.services{
    height: 400px;
    width: 1500px;
    background-color: #FBFBFB;
   
}
.ser1{
    height: 400px;
    width: 400px;
    background-color:#FBFBFB;
    float: left;
    margin: 0 50px;
    justify-content: center;
    text-align: center;
}
.ser2{
    height: 400px;
    width: 400px;
    background-color: #FBFBFB;
    float: left;
    margin: 0 50px;
    justify-content: center;
    text-align: center;
}
.ser3{
    height: 400px;
    width: 400px;
    background-color: #FBFBFB;
    float: left;
    margin: 0 50px;
    justify-content: center;
    text-align: center;
}
.round-image{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
    text-align: center;
}
f{
    text-align: center;
    color:black;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h{
    /* padding: 0 100px;
    box-sizing: border-box; */
    color:black;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
